<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400 %>');">
  <div class="container">
    <h1 class="text-center"><%= @cocktail.name %></h1>
  </div>
</div>
<br>
<div class="container margin-bottom">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <table class="table table-bordered">
        <tbody>
          <% if @cocktail.doses.any? %>
            <thead>
              <th>Ingredient</th>
              <th>Description</th>
              <th>Delete</th>
            </thead>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.description %></td>
                <td><%= dose.ingredient.name %></td>
                <td>
                  <%= link_to dose_path(dose), method: :delete do %>
                    <i class="fa fa-trash destroy_dose"></i>
                  <% end %>
                </td>
              </tr>
              <tr>
              <% end %>
              <td><%= link_to new_cocktail_dose_path(@cocktail), class: "text-add" do %>
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% else %>
            <p>This cocktail has no ingredients yet!</p>
            <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail) ,class:"btn btn-primary"%>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <h5>Add a new ingredient</h5>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description%>
    <%= f.association :ingredient, input_html: { class: 'select2' }  %>
    <%= f.submit "Add a dose", class: "btn btn-danger" %>
  <% end %>
  <br>
</div>
<div class="container">
  <h5>Add a new review</h5>
  <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :content%>
    <%= f.input :rating%>
    <%= f.submit "Add a review", class: "btn btn-danger" %>
  <% end %>
  <br>
  <% @cocktail.reviews.each do |review| %>
    <li><%= review.rating %> - <%= review.content %></li>
  <% end %>
  <br>
  <%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-primary"%>
</div>